@import "tailwindcss";

/* BACKGROUND IMAGE */
body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("/Images/usagi tail.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

/* CONTAINER */
.main-container {
  width: 85%;
  max-width: 1000px;
  background-color: #ebb80e;
  padding: 25px;
  border-radius: 15px;
  display: flex;
  gap: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  margin-bottom: 20px;
}

/* VERTICAL STACK */
.vertical-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* INFO */
.info-section {
  flex: 3;
}

/* IMAGE */
.image-section {
  flex: 1;
}

.image-section img {
  width: 220px;
  height: 240px;
  border-radius: 15px;
}

/* NAV */
.nav {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  justify-content: center;
}

.nav a {
  padding: 12px 18px;
  background-color: #C49102;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  background-color: #FEC20C;
}

/* CONTENT */
.content-box {
  background-color: #C49102;
  color: #FEFBBD;
  padding: 20px;
  border-radius: 10px;
}

/* SKILLS */
.skills-grid {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.skill-card {
  flex: 1;
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.skill-card img {
  width: 100px;
  height: 120px;
}

/* BUTTON */
.view-more {
  margin-top: 15px;
  width: 100%;
  padding: 10px;
  background-color: #FEC20C;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}